body { 
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
    background-color: #ffffff; 
}

a { 
    color:#fff;
    text-decoration:none;
    margin-left: 20px; 
}

h1 { 
    font-weight:bold;
    border-bottom:1px solid rgb(221, 221, 221);
    padding:0 0 10px 0;
    color: #ff072c;
    background-color: #ffffff;
    background-image:url(gradient.jpg);
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
    color:#000000;
}

h2 p{
    color: #000000;
}

#content { 
    float:left;
    width:60%;
    padding:0 0 0 30px; 
}
#content h2
{
    background-color:#db3727;
    color: #fff;
    
    
}


#sidebar { 
    float:right;
    width:30%;
    padding:10px;
    background:#db3727; 
    height:100%;
    
}
#sidebar h2
{
    color:#ffffff;
    font-weight:bold;
}
#sidebar p
{
    color:#ffffff;
    background-color: #bb2e21;
    margin-left: 5px;
}
p.date { 
    color:rgb(69, 69, 69);
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic; 
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}
.pagination a{ 
    color: #000000;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}
.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}